{% extends 'base.html' %}

{% block content %}
  <!-- Invoice Lines Table -->
  <table class="items">
    <thead>
      <tr>
        <th style="width: 4%">Sıra No</th>
        <th style="width: 12%">Stok Kodu</th>
        <th style="width: 34%">Mal Hizmet</th>
        <th style="width: 8%" class="right">Miktar</th>
        <th style="width: 12%" class="right">Birim Fiyat</th>
        <th style="width: 7%" class="center">KDV Oranı</th>
        <th style="width: 10%" class="right">KDV Tutarı</th>
        <th style="width: 13%" class="right">Mal Hizmet Tutarı</th>
      </tr>
    </thead>
    <tbody>
      {% for line in invoice.lines %}
      <tr>
        <td class="center">{{ loop.index }}</td>
        <td>{{ line.item_code or line.seller_item_id or '' }}</td>
        <td>{{ line.description or line.name }}</td>
        <td class="right">{{ line.quantity }} {{ line.unit_code or 'Adet' }}</td>
        <td class="right">{{ "%.2f"|format(line.unit_price|float) }}TL</td>
        <td class="center">%{{ line.tax_percent or line.tax_rate or 0 }}</td>
        <td class="right">{{ "%.2f"|format((line.tax_amount or 0)|float) }}TL</td>
        <td class="right">{{ "%.2f"|format((line.line_extension_amount or (line.quantity|float * line.unit_price|float))|float) }}TL</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Totals -->
  <div class="totals-section">
    <table class="totals-table">
      <tr>
        <td>Mal Hizmet Toplam Tutarı</td>
        <td>{{ "%.2f"|format((invoice.line_extension_amount or invoice.subtotal or 0)|float) }}TL</td>
      </tr>
      <tr>
        <td>Toplam İskonto</td>
        <td>{{ "%.2f"|format((invoice.allowance_total or 0)|float) }}TL</td>
      </tr>
      <tr>
        <td>Hesaplanan KDV(%{{ invoice.tax_percent or 0 }})</td>
        <td>{{ "%.2f"|format((invoice.tax_total or 0)|float) }}TL</td>
      </tr>
      <tr>
        <td>KDV Dahil Toplam Tutar</td>
        <td>{{ "%.2f"|format((invoice.tax_inclusive_amount or invoice.line_extension_amount or invoice.subtotal or 0)|float) }}TL</td>
      </tr>
      <tr class="grand-total">
        <td>Ödenecek Tutar</td>
        <td>{{ "%.2f"|format((invoice.payable_amount or 0)|float) }}TL</td>
      </tr>
    </table>
  </div>
{% endblock %}
